.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 6rem auto 0;
  max-width: 900px;
  @media (max-width: 950px) {
    margin: 4rem auto 0;
  }
  li {
    @media screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }
    &:first-of-type {
      margin-right: 0.4rem;
    }
  }
  .page-item {
    margin-right: 0.4rem;
    &.active {
      a {
        color: #fff;
        background-color: $accent;
      }
    }
  }
  a {
    padding: 0.8rem 1.4rem;
    font-size: 2rem;
    color: #444;
    border: 1px solid #444;
    transition: all 0.4s;
    &:hover {
      background-color: #cacaca;
    }
    &.disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
    }
  }
}