//grid
var(--xs: 320px);
var(--md: 768px);
var(--xl: 1150px);
//accent colors
:root {
  --text-color: #222;
  --contrast: #c1bb63;
  --active: #044a04;
  --accent-dark: #68273d;
  --accent: #d2570a;
  --accent-light: #e7bfbf;
  --text-light: #d1c2ae;
  --default: #2a2a2a;
}

