//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;
//accent colors
$text-color: #222;
$contrast: #c1bb63;
$active: #044a04;
$accent-dark: #68273D;
$accent: #d2570a;
$accent-light: #e7bfbf;
$text-light: #d1c2ae;
$default: #2A2A2A;