.admin-search {
  position: relative;
  margin-bottom: 2rem;
  z-index: 10;
  input {
    padding: 0 1rem;
    width: 50rem;
    height: 5rem;
    color: white;
    background: black;
    border: 1px solid #d2570a;
    border-radius: 0.4rem;
  }
}