.single-page {
  padding: 8rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 3rem 3rem;
    background-color: white;
    @include box-shadow;
  }
  &__cat {
    display: flex;
    align-items: center;
    &:hover {
      a::before {
        transform: translateX(0);
      }
    }
    strong,
    a {
      display: block;
      padding: 1rem;
      border: 1px solid #eee;
    }
    a {
      position: relative;
      color: white;
      background-color: $accent;
      transition: all .4s;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $contrast;
        transform: translateX(-120%);
        transition: all .4s;
      }
    }
    span {
      position: relative;
      color: white;
      z-index: 2;
    }
  }
  &__content {
    padding: 6rem 3rem;
    background-color: white;
    @include box-shadow;
    p {
      margin-bottom: 2rem;
      line-height: 1.5;
    }
    a {
      text-decoration: underline;
      color: $contrast;
      &:hover {
        a {
          text-decoration: none;
        }
      }
    }
    pre {
      display: block;
      margin-bottom: 8rem;
    }
  }
}